.DS_Store
#ignore caches
__pycache__
.ipynb_checkpoints
*.pyc
.idea

#ignore figures
**/*.jpg
**/*.svg
**/*.pdf
**/*.tiff
**/*.png

*.key

spectrome/data/SCFC-data
spectrome/data/downsampled_patients
spectrome/data/laplacian_networks