.DS_Store
#ignore caches
__pycache__
.ipynb_checkpoints
*.pyc

#ignore figures
**/.png
**/.jpg
**/.svg
*.key

spectrome/data/downsampled_patients
spectrome/data/laplacian_networks
spectrome/data/SCFC-data
spectrome/notebooks/complex_laplacian/diffuse_model/figures
spectrome/notebooks/complex_laplacian/eigenmodes/figures
